{% extends 'base.html' %}

{% block content %}
<h1 class="title">Admin Dashboard</h1>
<table class="table is-striped is-fullwidth">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Papel</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.papel }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}