<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Formulário</title>
</head>
<body>
    <h1>GenFit Form</h1>
    <form id="exercise-form">

        <label for="objetivo">Objetivo:</label>
        <select name="objetivo" id="objetivo">
            <option value="perder peso">Perder peso</option>
            <option value="ganhar músculo">Ganhar músculo</option>
            <option value="continuar em forma">Continuar em forma</option>
        </select>

        <br>

        <label for="dias">Quantidade de dias para treino:</label>
        <input type="number" id="dias" name="dias" min="1" max="7">

        <br>

        <label for="peso">Peso (Kg):</label>
        <input type="number" id="peso" name="peso">
        
        <br>
        
        <label for="altura">Altura (cm)</label>
        <input type="number" id="altura" name="altura">
        
        <br>

        <label for="duracao">Tempo médio para os treinos(minutos):</label>
        <input type="number" id="duracao" name="duracao" min="20" max="120">
        
        <br>
        <a href="{{ url_for('result') }}" class="btn">Gerar Plano</a>
    </form>
</body>
</html>